<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      h1 {
        color: rgb(0, 0, 0);
        text-align: center;
        -webkit-text-stroke: 1px black;
      }
      .cont {
        position: relative;
        left: 600px;
        top: 10px;
        color: rgb(0, 0, 0);
      }
      .container {
        padding: 3rem;
      }
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Unsubscribe</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="container">
      <h1>Unsubscribe</h1>
    </div>
    <div class="cont">
      <form method="POST">
        Enter the email you want to unsubscribe for:<br />
        <input type="text" name="email" />
        <br /><br />
        <input type="submit" value="Unsubscribe" />
      </form>
      <br />
    </div>
  </body>
</html>
